* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1,
h2 {
    color: #007bff;
}

p {
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;

    width: 100%;
    bottom: 0;
}


.home-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.home-btn:hover {
    text-decoration: underline;
}

.recurring {
    position: relative;
    display: inline-block;
}

.recurring::before {
    content: '';
    display: block;
    position: absolute;
    top: -0.1em;
    /* Adjust the position as needed */
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.scrollable {
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}